<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project</title>
<style>
   body{
       /* background-image: url(44.jpg); */
       background-color: black;
   }
    .komal{
        align-items: center;
        text-align: center;
        font-style: italic;
        font-size: 34px;
        
    color: cadetblue;
    /* background-image:url(44.jpg) ; */
        /* background: url('44.jpg') no-repeat center center/cover; */
    }
    .kom{
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 29px 572px;
    cursor: pointer;
    }
</style>
</head>
<body>
    <div class="komal">
     <h1>Yashshvi Gupta</h1>
     <h2>The Spark Foundation task 2</h2>
     <h3>Banking System</h3>
    </div>
    <a class="kom" href='/home' >LET'S GET STARTED</a>
</body>
</html>